.AddBtn{
    width: 40px;
    height: 40px;
    color: tomato;
    font-size: 40px;
    font-weight: bolder;
    border: 1px solid;
    border-radius: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}