.loginBtn{
    height: 35px;
    width: 70px;
    background-color: #ffffff;
    color: #f1645f;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border:2px solid #f1645f;
    cursor: pointer;
}



.logout-container{
    z-index: 1;
    position: fixed;
}

.logoutBtn{
background-color: #f1645f;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 10px;
}

.profile-icon{
    cursor: pointer;
}
