
.home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("https://img.freepik.com/premium-photo/colorful-handdrawn-doodle-cute-appetizing-food-items-menus-culinary-designs_38013-15768.jpg?w=996");


}

.home-wrapper{
 background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    max-width: 1500px;
}
 @media screen and (min-width: 12px) and (max-width: 700px){}
@media screen and (min-width: 12px) and (max-width: 700px){
    .home-wrapper{
        width: 100%;
    }
} 