*{
    margin: 0;
    padding: 0;
    border: border-box;
}


.loginpage-container{
    background-image: url("../src/assets/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 840px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 1px solid black;

}