* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
 
}

.nav-container {
  width: 800px;
  height: 60px;
  font-size: 16px;
  font-family: 'Arial Narrow Bold', sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.377);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

.nav-container li {
  display: inline-block;
  list-style: none;
  margin-left: 30px;
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
