.search-bar{
    height: 31px;
   width: 250px;
    margin-left: 80px;
    border-radius: 5px;
    border: 2px solid #6A9C89;

}
@media screen and (min-width: 700px) and (max-width: 1100px){
        .search-bar{
    height: 31px;
   width: 150px;
}
}
@media screen and (min-width: 12px) and (max-width: 768px){
    .search-bar{
    height: 31px;
   width: 150px;
}

}